---
import MainLayout from "@/layout/MainLayout.astro";
---

<MainLayout title="About me">
  <div class="min-w-[320px] mx-auto w-4xl pt-10">
    <h1>About Me</h1>
    <p>
      Welcome to my portfolio! Here you will find information about my projects,
      skills, and experience.
    </p>
    <h2>Skills</h2>
    <ul>
      <li>
        <strong>React:</strong> A JavaScript library for building user interfaces.
        <pre><code>import React from 'react';
const HelloWorld = () => &lt;h1&gt;Hello, World!&lt;/h1&gt;;</code></pre>
      </li>
      <li>
        <strong>JavaScript:</strong> A versatile programming language used for web
        development.
        <pre><code>const greet = () => console.log('Hello, world!');</code></pre>
      </li>
      <li>
        <strong>CSS:</strong> A stylesheet language used to describe the presentation
        of a document written in HTML.
        <pre><code>body {'{'} background-color: lightblue; {'}'}</code></pre>
      </li>
      <li>
        <strong>Tailwind:</strong> A utility-first CSS framework for rapid UI development.
        <pre><code>&lt;div className="bg-blue-500 text-white p-4"&gt;Hello, Tailwind!&lt;/div&gt;</code></pre>
      </li>
      <li>
        <strong>MongoDB:</strong> A NoSQL database program that uses JSON-like documents.
        <pre><code>{`db.collection('users').find({ username: 'John' });`}</code></pre>
      </li>
      <li>
        <strong>MySQL:</strong> An open-source relational database management system.
        <pre><code>SELECT * FROM users WHERE name = 'John';</code></pre>
      </li>
      <li>
        <strong>JSON:</strong> A lightweight data-interchange format.
        <pre><code>{`{ "name": "John", "age": 30 }`}</code></pre>
      </li>
    </ul>
  </div>
</MainLayout>
